ConsoleProject/Connected Services/ServiceProject/ServiceCard.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceCard" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51267/ServiceCard.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51267/ServiceCard.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51267/ServiceCard.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceCard_GetAllPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPerson" />
  </wsdl:message>
  <wsdl:message name="IServiceCard_GetAllPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCard_GetPersonById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonById" />
  </wsdl:message>
  <wsdl:message name="IServiceCard_GetPersonById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCard_GetPersonByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonByUsername" />
  </wsdl:message>
  <wsdl:message name="IServiceCard_GetPersonByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCard_AddMoneyToCard_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMoneyToCard" />
  </wsdl:message>
  <wsdl:message name="IServiceCard_AddMoneyToCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMoneyToCardResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCard_PayCafetaria_InputMessage">
    <wsdl:part name="parameters" element="tns:PayCafetaria" />
  </wsdl:message>
  <wsdl:message name="IServiceCard_PayCafetaria_OutputMessage">
    <wsdl:part name="parameters" element="tns:PayCafetariaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCard_GetAllPrintType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPrintType" />
  </wsdl:message>
  <wsdl:message name="IServiceCard_GetAllPrintType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPrintTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCard_GetPrintTypeById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrintTypeById" />
  </wsdl:message>
  <wsdl:message name="IServiceCard_GetPrintTypeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrintTypeByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceCard">
    <wsdl:operation name="GetAllPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCard/GetAllPerson" message="tns:IServiceCard_GetAllPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCard/GetAllPersonResponse" message="tns:IServiceCard_GetAllPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCard/GetPersonById" message="tns:IServiceCard_GetPersonById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCard/GetPersonByIdResponse" message="tns:IServiceCard_GetPersonById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCard/GetPersonByUsername" message="tns:IServiceCard_GetPersonByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCard/GetPersonByUsernameResponse" message="tns:IServiceCard_GetPersonByUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMoneyToCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCard/AddMoneyToCard" message="tns:IServiceCard_AddMoneyToCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCard/AddMoneyToCardResponse" message="tns:IServiceCard_AddMoneyToCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PayCafetaria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCard/PayCafetaria" message="tns:IServiceCard_PayCafetaria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCard/PayCafetariaResponse" message="tns:IServiceCard_PayCafetaria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPrintType">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCard/GetAllPrintType" message="tns:IServiceCard_GetAllPrintType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCard/GetAllPrintTypeResponse" message="tns:IServiceCard_GetAllPrintType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrintTypeById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCard/GetPrintTypeById" message="tns:IServiceCard_GetPrintTypeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCard/GetPrintTypeByIdResponse" message="tns:IServiceCard_GetPrintTypeById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceCard" type="tns:IServiceCard">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllPerson">
      <soap:operation soapAction="http://tempuri.org/IServiceCard/GetAllPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonById">
      <soap:operation soapAction="http://tempuri.org/IServiceCard/GetPersonById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonByUsername">
      <soap:operation soapAction="http://tempuri.org/IServiceCard/GetPersonByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMoneyToCard">
      <soap:operation soapAction="http://tempuri.org/IServiceCard/AddMoneyToCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PayCafetaria">
      <soap:operation soapAction="http://tempuri.org/IServiceCard/PayCafetaria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPrintType">
      <soap:operation soapAction="http://tempuri.org/IServiceCard/GetAllPrintType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrintTypeById">
      <soap:operation soapAction="http://tempuri.org/IServiceCard/GetPrintTypeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceCard">
    <wsdl:port name="BasicHttpBinding_IServiceCard" binding="tns:BasicHttpBinding_IServiceCard">
      <soap:address location="http://localhost:51267/ServiceCard.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>