ConsoleProject/Connected Services/ServiceProject/ServiceCard1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="tns:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerson" nillable="true" type="tns:ArrayOfPerson" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" type="xs:double" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="ArrayOfPrintType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrintType" nillable="true" type="tns:PrintType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrintType" nillable="true" type="tns:ArrayOfPrintType" />
  <xs:complexType name="PrintType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="RectoVerso" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrintType" nillable="true" type="tns:PrintType" />
</xs:schema>